.ratingTypeContainer {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.radio {
  margin-right: 8px;
  accent-color: #5cb85c;
}

.radio:checked + span::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: #5cb85c;
}

.radio + span::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 50%;
  border: 2px solid #ccc;
}
